html { scroll-behavior: smooth; }
body { background-color: #0A0A0A; }
*::-webkit-scrollbar { height: 8px; width: 8px; }
*::-webkit-scrollbar-thumb { background: #2d2d2d; border-radius: 999px; }
*::-webkit-scrollbar-track { background: transparent; }
select {
  background-image: none;
}
